 o/* BASE STYLES */
html {
    font-size: 16px;
}
body {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
header,
footer,
main {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
h1 {
   font-size: 1.25em; 
   font-weight: bold;
}
h2 {
    font-size: 1.125em;
    font-weight: bold;
}
h3, a {
    font-size: 1em;
    font-weight: bold;
}
p {
    font-size: 1em;
}
ul {
    list-style: none;
}
/* HEADER */
header {
    background: #fff0be;
    padding: 5% 0 5% 0;
}
#home {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5%;
    width: 90%;
}
#home img {
    padding: 0 2% 0 0;
    width: 15%;
}
img {
    width: 100%;
}
#home h1 {
    font-family: 'Corben', cursive;
    font-size: 1.25em;
}
#home h2 {
    font-size: 1.25em;
    font-weight: bold;
}
#home p {
    font-size: 1em;
}
#home nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%;
}
#home nav ul {
    padding: 0;
    width: 100%;
}
#home nav ul li {
    display: inline-block;
}
#home nav ul li a {
    color: #be8b14;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.date,
.place {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}
.date p,
.place p {
    font-size: 1em;
}
/* FOOTER */
footer {
    background: #ffffff;
    padding: 0 0 5% 0;
}
#contact {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
.social h3 {
    font-size: 1em;
    font-weight: bold;
}
.social p {
    font-size: 1em;
}
.social ul {
    padding: 0 0 0 5%;
}
.social ul li {
   display: inline-block;
   padding: 0 0 0 5%;
}
.social ul li i {
    color: #be8b14;
    font-size: 2em;
}
/***** PHOTOS *****/
main {
    background: #ffffff;
    padding: 5% 0 5% 0;
}
#photos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 5% 0;
}
#photos img {
    padding: 2% 0 2% 0;
    width: 90%;
}
img {
    width: 100%;
}
#photos p {
    font-size: 1em;
    font-weight: bold;
    width: 90%;
}
/***** OFFER *****/
#offer {
    background: #fff0be;
    padding: 5% 0 5% 0;
}
.signup {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
}
.signup form {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}
.signup form label {
    padding: 0 2% 2% 0;
    width: 45%;
}
.signup form input {
    margin: 0 2% 2% 0;
    width: 45%;
}
.signup form label:nth-child(5) {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 90%;
}
#txtEmail {
    width: 90%;
}
.signup button {
    align-items: center;
    background: #be8b14;
    border: none;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Corben', cursive;
    font-weight: 700;
    font-size: 1em;
    justify-content: center;
    text-transform: uppercase;
    width: 90%;
}
.signup h2 {
    font-size: 1.125em;
    width: 90%;
}
.signup img {
    padding: 5% 0 0 0;
    width: 45%;
}
img {
    width: 100%;
}
.menu, 
.products {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
}
.menu p span, 
.products p span {
    font-size: 1.125em;
    font-weight: bold;
}
.menu p,
.products p {
    font-size: 1em;
    width: 90%;
}
/***** REVIEWS *****/
#reviews {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5% 0 0 0;
    width: 90%;
}
#reviews h3 {
    font-size: 1em;
    font-weight: bold;
    width: 90%;
}
#reviews p {
    font-size: 1em;
    width: 90%;
}

@media (min-width: 768px) {
    /***** BASE STYLES *****/
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3, a {
        font-size: 1.25em;
    }
    p {
        font-size: 1em;
    }
    /***** HEADER *****/
    #home h1 {
        font-size: 2em;
    }
    #home h2 {
        font-size: 1.5em;
    }
    #home p {
        font-size: 1em;
    }
    nav {

    }
    nav ul {

    }
    nav ul li {

    }
    nav ul li a {
        font-size: 1.25em;
        font-weight: bold;
    }
    .place p,
    .date p {
        font-size: 1em;
    }
    /***** FOOTER *****/
    .info h3,
    .social h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
    .info p,
    .social p {
        font-size: 1em;
    }
    .social ul li {
   
    }
    .social ul li i {
        font-size: 2.5em;
    }
    /***** PHOTOS *****/
    #photos p {
        font-size: 1em;
    }
    /***** OFFER *****/
    .signup button {
        align-items: center;
        background: #be8b14;
        border: none;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        font-family: 'Corben', cursive;
        justify-content: center;
        font-size: 2em;
        text-transform: uppercase;
        width: 40%;
    }
    .signup h2 {
        font-size: 1.5em;
    }
    .menu p span, 
    .products p span {
        font-size: 1em;
    }
    .menu p,
    .products p {
        font-size: 1em;
    }
    /***** REVIEWS *****/
    #reviews h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
    #reviews p {
        font-size: 1em;
    }
}
@media (min-width: 1200px) {
    /***** BASE STYLES *****/
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.25em;
    }
    h3, a {
        font-size: 1.25em;
    }
    p {
        font-size: 1em;
    }
    /***** HEADER *****/
    #home h1 {
        font-size: 3em;
    }
    #home h2 {
        font-size: 2.25em;
    }
    #home p {
        font-size: 1em;
    }
    nav {

    }
    nav ul {

    }
    nav ul li {

    }
    nav ul li a {
        font-size: 1.25em;
        font-weight: bold;
    }
    .place p,
    .date p {
        font-size: 1em;
    }
    /***** FOOTER *****/
    .info h3,
    .social h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
    .info p,
    .social p {
        font-size: 1em;
    }
    .social ul li {
   
    }
    .social ul li i {
        font-size: 3em;
    }
    /***** PHOTOS *****/
    #photos p {
        font-size: 1em;
    }
    /***** OFFER *****/
    .signup button {
        align-items: center;
        background: #be8b14;
        border: none;
        border-radius: 10px;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        font-family: 'Corben', cursive;
        justify-content: center;
        font-size: 2.5em;
        text-transform: uppercase;
        width: 40%;
    }
    .signup h2 {
        font-size: 2.25em;
    }
    .menu p span, 
    .products p span {
        font-size: 1em;
    }
    .menu p,
    .products p {
        font-size: 1em;
    }
    /***** REVIEWS *****/
    #reviews h3 {
        font-size: 1.25em;
        font-weight: bold;
    }
    #reviews p {
        font-size: 1em;
    }
}