/* BASE STYLES */
/* header: #fff0be;
   .signup, .offerings: #fff0be;
*/
   
body {
    max-width: 1200px;
    font-size: 16px;
    color: #808080;
}
/* HEADER */
header {
    background: url(../img/coffee-bean-01.png);
    padding-top: 2%; 
    padding-bottom: 2%; 
}
header img {
    margin-left: 30%;
}
h1 {
    font-size: 48px;
    text-align: center;
}
.offer {
    font-size: 30px;
    text-align: center;
}
.place {
   text-align: left;
   font-size: 24px;
   margin-left: 10%;
}
.date {
    text-align: right;
    font-size: 24px;
    margin-left: 40%
}
.img {
    background: url(../img/coffee-bean.png);
    padding-top: 2%;
    padding-left: 12%;
}
.reward {
    font-size: 36px;
    text-align: center;
}
#e-offer {
    background: url(../img/coffee-bean-01.png);
}
.signup {
    padding-top: 2%;
    padding-bottom: 2%;
}
form {
    margin-left: 21%;
}
form label {
    font-size: 24px;
    margin-right: 2%;
}
form input {
    font-size: 24px;
    width: 21%;
    height: 3%;
    margin-bottom: 2%;
}
.email {
    font-size: 24px;
    width: 65%;
    height: 17%;
}
form button {
    border: none;
    background: #be8b14;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 25%;
    font-size: 36px;
    width: 55%;
    height: 35%;
}
.offerings {
    height: 10%;
}
.menu, .products, h2, .signup img {
   margin-left: 15%;
}
.icon {
    float: left;
}
.menu {
    float: left;
}
.products {
    float: left;
}
.reviews {
    clear: both;
}
h3, .reviews p {
   padding-left: 15%;
}
footer {
    clear: both;
}
footer ul li {
   display: inline-block;
}
footer ul img {
   padding-left: 5px;
}